<link rel="stylesheet" type="text/css" href="css/admin.css">
<!-- <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script> -->
    

<div class="container">
    <div class="alert-success error" id="error"> </div>

    <div class="row">
        <div role="tabpanel">
            <div class="col-sm-3">
                <ul class="nav nav-pills brand-pills nav-stacked" role="tablist">
                    <li role="presentation" class="brand-nav active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Add Posts</a></li>
                    <li role="presentation" class="brand-nav"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Display Posts</a></li>
                    <li role="presentation" class="brand-nav"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Subscribers</a></li>
                </ul>
            </div>

            <div class="col-sm-9">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <p class="float-right">Add Post</p>
                        <div class="container-fluid">
                            <form class="submit-blog-post" method="POST" action="/submit-blog-post">

                                  <div class="form-group">
                                    <label for="">Title</label>
                                    <input type="text" name="title" class="form-control" id="" placeholder="" required>
                                  </div>

                                  <div class="form-group">
                                    <label for="">Author</label>
                                    <input type="text" name="author" class="form-control" id="" placeholder="" required>
                                  </div>

                                  <div class="form-group">
                                    <label for="">Body</label>
                                    <textarea type="text" name="body" class="form-control" id="" placeholder=""required>
                                        
                                    </textarea>
                                  </div>

                                  <div class="form-group">
                                    <label for="">Add a  Picture</label>
                                    <input type="url" name="url" class="form-control" id="url" placeholder="Add tags" required>
                                    <button id="upload_widget" class="cloudinary-button">Upload Picture</button>
                                  </div>

                                  <div class="form-group">
                                    <label for="">Tags</label>
                                    <input type="text" name="tags" class="form-control" id="" placeholder="Add tags" multiple required>
                                  </div>

                                  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                                  <input type="submit" name="" value="Post" id="post-button">
                            </form>
                       </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="tab2">
                        <h3> Previous Post </h3>
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                                {{# each posts }} 
                                {{# each this }}
                                  <tr>
                                    <td>{{this.title}}</td>
                                    <td>{{this.author}}</td>
                                    <td><a href="/delete/{{this._id}}"  onclick="return confirm('Are you sure to delete this post ?');" class="btn btn-outline-danger" id="{{this._id}}"><button class="btn btn-danger">DELETE</button></a></td>
                                  </tr>
                                {{/each}}
                                {{/each}}
                            </tbody>
                          </table>
                    </div>
                    

                    <div role="tabpanel" class="tab-pane" id="tab3">
                        <h3>Users</h3>
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Email</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>first</td>
                                <td>second</td>
                                <td>root@root.com</td>
                              </tr>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript">
    //ADD NEW POST
    $('.submit-blogpost').on('submit',function(e){
        e.preventDefault();
        $.ajax({
            url: "/submit-blog-post",
            method: "POST",
            data: $('.submit-blogpost').serialize(),
            beforeSend: function(){
                console.log("Posting...");
                $("#post-button").html("Posting...");
            },
            success: function(res){
                alert('done');
                $("#post-button").html("Post");
                $("#error").html('<div class="alert alert-success"><p>Blog Post Uploaded</p></div>')
            },
            error: function(err){
                alert("Not Done")
                $("#error").html('<div class="alert alert-danger"><p>Error Uploading Post</p></div>')
                console.log(err);
                $("#post-button").html("Post");

            }
        })
    })
</script>





